/* ---------------------------
   IMPORT DES FONTS
----------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* ---------------------------
   VARIABLES CSS
----------------------------*/
:root {
  /* Couleurs */
  --color-bg: #f4f4f4;
  /* --color-primary: #1c4f8d; */
  --color-primary: #2764af;
  --color-secondary: #288e89;
  --color-text: #222222;
  --color-white: #ffffff;
  --color-hover: #288e8957;

  /* --gradient: linear-gradient(
    90deg,
    rgba(28, 79, 141, 1) 0%,
    rgba(49, 122, 193, 1) 81%,
    rgba(28, 79, 141, 1) 100%
  ); */

  --gradient: linear-gradient(
    90deg,
    rgba(39, 100, 175, 1) 0%,
    rgb(40, 142, 137) 90%
  );

  /* Polices */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Autres */
  --border-radius: 15px;
  --box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.06);
}

/* ---------------------------
   SCROLLBAR PERSONNALISÉE
----------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--color-text);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

/* ---------------------------
   STYLES GLOBAUX
----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Liens */
a {
  text-decoration: none;
  font-family: var(--font-secondary);
}

/* Paragraphes */
p {
  margin-bottom: 15px;
}

/* Listes */
ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

html,
body {
  height: 100%; /* nécessaire pour que le body prenne toute la hauteur */
  margin: 0;
  font-family: var(--font-primary);
  font-weight: regular;
}

body {
  min-height: 100vh; /* pour que le body prenne au moins toute la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* Titres */
h2 {
  color: var(--color-primary);
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding-left: 15px;
  font-size: 2rem;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -5px; */
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 5px;
}

/* ---------- HEADER---------- */
.header {
  width: 100%;
  color: var(--color-white);

  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.header .logo h1 {
  font-size: 1.9rem;
}

/* ---------- NAVIGATION ---------- */
.menu-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f4f4f4dc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
  padding: 5px 15px;
}

/* Liens */
.menu-nav a {
  color: var(--color-text);
  font-weight: bold;
  padding: 10px 15px;

  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover */
.menu-nav a:hover {
  color: var(--color-primary);
  transform: translateY(-2px); /* léger lift au survol */
}

/* ---------------------------
    BOUTON SCROLL TO TOP
----------------------------*/

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  background-color: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

#scrollTopBtn:hover {
  background-color: var(--color-secondary);
  transform: scale(1.1);
}

#scrollTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

/* ---------------------------
   HERO PAGE
----------------------------*/
.hero-page {
  min-height: 30vh;
  background: var(--color-primary);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-bottom: 40px;
}

.hero-page h1 {
  padding: 100px 0 20px 0;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-page p {
  font-size: 1.2rem;
  max-width: 600px;
}
/* ---------------------------
   HERO SECTION
----------------------------*/

.hero-section {
  min-height: 90vh;
  background: linear-gradient(rgba(22, 22, 26, 0.8)),
    url(/assets/img/hero-bg.jpg) no-repeat center center/cover;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
  gap: 40px;
}

.hero-section--text {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.hero-section h1 {
  font-size: 3rem;
  color: var(--color-white);
}

.hero-section p {
  font-size: 1.2rem;
  color: var(--color-white);
}

/* Boutons de la hero */
.btn {
  padding: 12px 25px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: 0.3s ease;
  margin-right: 10px;
}

.btn-vert {
  background: var(--color-secondary);
  color: white;
  transition: all 0.5s ease;
}

.btn-vert:hover {
  background: var(--color-white);
  color: var(--color-secondary);
}

.btn-white {
  background: white;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: all 0.5s ease;
}

.btn-white:hover {
  background: var(--color-secondary);
  color: white;
}

/* ---------------------------
   MAIN WRAPPER
----------------------------*/

.main-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: var(--color-bg);
}

/* ---------------------------
   CONTAINER
----------------------------*/

.container {
  max-width: 1200px;
  /* box-shadow: var(--box-shadow); */
  padding: 30px;
  /* border-radius: var(--border-radius); */
}

/* ---------------------------
   SECTION GENERIQUE
----------------------------*/

section:not(.hero-section) {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

/* ---------------------------
  WELCOM SECTION
----------------------------*/

.welcome-container {
  text-align: center;
}

.welcome-text {
  font-size: 1.1rem;
}

.welcome-features-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.feature-item {
  padding: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  flex: 1;
  min-width: 200px;
  max-width: 250px;
}
.feature-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}
.feature-item h4 {
  color: var(--color-text);
  font-size: 1.1rem;
}

/* -----------------------------------
   SECTION - Pourquoi l'Open Source
-------------------------------------*/

.why-open-source {
  margin: auto;
  padding: 40px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;

  margin: 100px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: auto;
  text-align: center;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.why-open-source h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--color-white);
}

.why-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  color: var(--color-white);
  font-size: 18px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.why-card {
  background: white;
  padding: 35px 25px;
  border-radius: 18px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.why-card:hover {
  transform: translateY(-8px);
}

.why-icon {
  font-size: 42px;
  margin-bottom: 15px;
}

.why-card h3 {
  margin-bottom: 10px;
  color: var(--color-secondary);
}

.why-card p {
  color: var(--color-text);
}

/* ---------------------------
   EXPERTISES SECTIONS
----------------------------*/

.expertises-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  max-width: 1200px;
}

.expertises-text {
  text-align: center;
}
.expertises-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.expertises-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  color: var(--color-text);
  font-size: 1.1rem;
}

.expertises-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.expertise-card {
  padding: 30px;
  background: var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: left;
}

.expertise-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: var(--color-white);
}
.expertise-card p {
  font-size: 16px;
  color: var(--color-white);
}

/* -----------------------------------
    SECTION - Pourquoi Nous Choisir
--------------------------------------*/
.whyUs-section {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 100px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.whyUs-section h2 {
  font-size: 2rem;

  color: var(--color-white);
}

.whyUs-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 30px;
}

.whyUs-item {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whyUs-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.whyUs-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-secondary);
}

.whyUs-item p {
  font-size: 1rem;
  color: var(--color-text);
}

.whyUs-btn {
  margin-top: 40px;
  align-self: center;
}

/* ---------------------------
   SERVICES PREVIEW
----------------------------*/
.services-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.services-preview--text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.services-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  color: var(--color-text);
  font-size: 1.1rem;
}

.services-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
}

.service-preview-card {
  background: var(--color-white);
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border: 3px solid var(--color-secondary);
}

.services-preview-button {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

/* ---------------------------
   FOOTER 
----------------------------*/
.footer {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 60px 50px 20px;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo h2 {
  color: var(--color-white);
  margin-bottom: 10px;
}

.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 5px;
}

.footer-links h3::after,
.footer-contact h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  border-bottom: 3px solid var(--color-secondary);
}

.footer-links a {
  display: block;
  color: var(--color-white);
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--color-secondary);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.8;
}

hr {
  border: none;
  margin-top: 5px;
  border-top: 2px solid var(--color-secondary);
}

/* ---------------------------
   CONTACT WRAPPER
----------------------------*/

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Formulaire */
.contact-form-container {
  flex: 60%;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.contact-form .required {
  color: red;
}

/* Ajout du style pour l'élément SELECT */
.contact-form select {
  padding: 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text);
  font-family: var(--font-primary);
  width: 100%;
  transition: 0.2s ease;
  box-sizing: border-box;
}

.contact-form select:focus {
  outline: none;
  border-color: var(--color-secondary);
}
/* Coordonnées */
.coord-info {
  flex: 30%;
  margin-top: 0;
}

.coord-info h3 {
  color: var(--color-secondary);
  margin-bottom: 20px;
  font-size: 1.4rem;
  border-left: 5px solid var(--color-secondary);
  padding-left: 10px;
  margin-bottom: 30px;
}

/* Coordonnées en grille */
.coord-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.coord-item {
  background: var(--color-secondary);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.coord-item img {
  width: 50px;
  height: 50px;
}

.coord-item p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-white);
}

/* Formulaire inputs & textarea */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text);
  font-family: var(--font-primary);
  width: 100%;
  resize: none;
  transition: 0.2s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.contact-form button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 15px 10px;
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  font-size: 1.05rem;
}

.contact-form button:hover {
  background-color: var(--color-secondary);
}

.map-placeholder {
  width: 1200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: var(--color-secondary);
}
/* ---------------------------
  SERVICES PAGE
  ----------------------------*/
.services-text {
  text-align: center;
  font-size: 1.1rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 60px 0;
}

.service-card {
  background: var(--color-white);
  padding: 25px 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.service-card--img {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.service-card img {
  max-width: 80%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.service-card h3 {
  color: var(--color-secondary);
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.service-card p {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.5;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Hover effect */
.service-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 12px 30px rgba(40, 142, 137, 0.4); /* Ombre basée sur la couleur d'accent */
  background-color: var(--color-hover);
}

/* ---------------------------
   A-PROPOS / FONDATEURS
----------------------------*/
.founder-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.founder-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.founder-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.founder-info {
  flex: 1;
  text-align: left;
}

.founder-info h3 {
  color: var(--color-secondary);
  margin-bottom: 5px;
}

.founder-info .role {
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 15px;
}

.founder-info .bio {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--color-text);
}

.founder-info .quote {
  font-style: italic;
  color: var(--color-secondary);
}

.intro-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Grille des Valeurs */
.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.value-item {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
  height: 100%;
  border-top: 4px solid var(--color-secondary);
}

.value-item:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.value-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--color-secondary);
}

.value-item h3 {
  color: var(--color-primary);
  margin-bottom: 10px;
}

/* CTA Spécifique à la page A Propos */
.call-to-action-about {
  margin: 80px auto 40px auto;
  padding: 40px;
  text-align: center;
  background-color: var(--color-bg);
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  max-width: 700px;
}
.call-to-action-about p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-primary);
}
.call-to-action-about .btn-white {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.call-to-action-about .btn-white:hover {
  background: var(--color-primary);
  color: white;
}

.histoire,
.mission {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonnes égales par défaut */
  gap: 50px;
  align-items: center;
  margin: 60px 0;
  padding: 20px 0;
}

.histoire-img img,
.mission-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.histoire-text .intro-text,
.mission-text .intro-text {
  text-align: justify;
  padding-right: 15px;
}
