/* ---------------------------
   IMPORT DES FONTS
----------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* ---------------------------
   VARIABLES CSS
----------------------------*/
:root {
  /* Couleurs */
  --color-bg: #f4f4f4;
  --color-primary: #1c4f8d;
  --color-secondary: #317ac1;
  --color-text: #222222;
  --color-white: #ffffff;

  --gradient: linear-gradient(
    90deg,
    rgba(28, 79, 141, 1) 0%,
    rgba(49, 122, 193, 1) 81%,
    rgba(28, 79, 141, 1) 100%
  );

  /* Polices */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Autres */
  --border-radius: 25px;
  --box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.06);
}

/* ---------------------------
   SCROLLBAR PERSONNALISÉE
----------------------------*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--color-text);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

/* ---------------------------
   STYLES GLOBAUX
----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Liens */
a {
  text-decoration: none;
  font-family: var(--font-secondary);
}

/* Paragraphes */
p {
  margin-bottom: 15px;
}

/* Listes */
ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

html,
body {
  height: 100%; /* nécessaire pour que le body prenne toute la hauteur */
  margin: 0;
}

body {
  min-height: 100vh; /* pour que le body prenne au moins toute la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* Titres */
h2 {
  color: var(--color-secondary);
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding-left: 15px;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -5px; */
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 5px;
}

/* ---------- HEADER---------- */
.header {
  background: var(--gradient);
  color: var(--color-white);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .logo h1 {
  font-size: 1.9rem;
}

/* ---------- NAVIGATION ---------- */
.menu-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f4f4f4dc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
  padding: 5px 15px;
}

/* Liens */
.menu-nav a {
  color: var(--color-text);
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover */
.menu-nav a:hover {
  color: var(--color-secondary);
  transform: translateY(-2px); /* léger lift au survol */
}

/* ---------------------------
    BOUTON SCROLL TO TOP
----------------------------*/

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

#scrollTopBtn:hover {
  background-color: var(--color-secondary);
  transform: scale(1.1);
}

#scrollTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

/* ---------------------------
   HERO PAGE
----------------------------*/
.hero-page {
  min-height: 10vh;
  background: var(--gradient);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-bottom: 40px;
}

.hero-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-page p {
  font-size: 1.2rem;
  max-width: 600px;
}
/* ---------------------------
   HERO SECTION
----------------------------*/

.hero-section {
  min-height: 80vh;
  background: var(--gradient);
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}

.hero-section h1 {
  font-size: 3rem;
  color: var(--color-white);
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 520px;
  color: var(--color-white);
}

.hero-section img {
  width: 45%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 15px 40px rgba(0, 0, 0, 0.4));
  animation: floatMove 8s ease-in-out infinite alternate;
}

@keyframes floatMove {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-3%);
  }
}

/* Boutons de la hero */
.btn {
  padding: 12px 25px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: 0.3s ease;
  margin-right: 10px;
}

.btn-bleu {
  background: var(--color-secondary);
  color: white;
}

.btn-bleu:hover {
  background: var(--color-primary);
}

.btn-white {
  background: white;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn-white:hover {
  background: var(--color-secondary);
  color: white;
}

/* ---------------------------
   CARROUSEL TECHNOLOGIES
----------------------------*/
.tech-carousel-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.tech-carousel {
  overflow: hidden;
  position: relative;
}

.tech-track {
  display: flex;
  flex-wrap: nowrap;
  animation: scrollTech 20s linear infinite;
}

.tech-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 20px;
}

.tech-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.tech-item img:hover {
  transform: scale(1.2);
}

@keyframes scrollTech {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ---------------------------
   MAIN WRAPPER
----------------------------*/

.main-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background: var(--color-bg);
}

/* ---------------------------
   CONTAINER
----------------------------*/

.container {
  max-width: 1200px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: var(--border-radius);
}

/* ---------------------------
   EXPERTISES SECTIONS
----------------------------*/

.expertises-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  max-width: 1200px;
}

.expertises-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.expertises-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  color: var(--color-text);
  font-size: 1.1rem;
}

.expertises-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.expertise-card {
  padding: 30px;
  background: var(--color-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: left;
}

.expertise-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: var(--color-white);
}
.expertise-card p {
  font-size: 16px;
  color: var(--color-white);
}

/* ---------------------------
   WELCOME SECTION
----------------------------*/
.welcome-section {
  padding: 60px 40px;
  margin: auto;
}

.welcome-container {
  text-align: center;
}

.welcome-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.welcome-text {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: var(--color-text);
}

.welcome-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
  list-style-type: none;
}

.welcome-list li {
  color: var(--color-text);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 3px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

/* ---------------------------
   WHY SECTION
----------------------------*/
.why-section {
  background: var(--gradient);
  display: flex;
  padding: 40px;
  margin: 100px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.why-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: var(--color-white);
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.why-item {
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.why-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-secondary);
}

.why-item p {
  font-size: 1rem;
  color: var(--color-text);
}

/* ---------------------------
   SERVICES PREVIEW
----------------------------*/
.services-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1200px;
}

.services-preview--text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.services-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  color: var(--color-text);
  font-size: 1.1rem;
}

.services-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
}

.service-preview-card {
  background: var(--color-white);
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border: 3px solid var(--color-primary);
}

.services-preview-button {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

/* ---------------------------
   FOOTER 
----------------------------*/
.footer {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 60px 50px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo h2 {
  color: var(--color-white);
  margin-bottom: 10px;
}

.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 5px;
}

.footer-links h3::after,
.footer-contact h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  border-bottom: 3px solid var(--color-secondary);
}

.footer-links a {
  display: block;
  color: var(--color-white);
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--color-secondary);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.8;
}

hr {
  border: none;
  margin-top: 5px;
  border-top: 2px solid var(--color-secondary);
}

/* ---------------------------
   CONTACT WRAPPER
----------------------------*/
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Formulaire */
.contact-form-container {
  flex: 60%;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* Coordonnées */
.coord-info {
  flex: 30%;
  margin-top: 0;
}

.coord-info h3 {
  color: var(--color-secondary);
  margin-bottom: 20px;
  font-size: 1.4rem;
  border-left: 5px solid var(--color-secondary);
  padding-left: 10px;
  margin-bottom: 30px;
}

/* Coordonnées en grille */
.coord-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.coord-item {
  background: var(--color-secondary);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.coord-item img {
  width: 50px;
  height: 50px;
}

.coord-item p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-white);
}

/* Formulaire inputs & textarea */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text);
  font-family: var(--font-primary);
  width: 100%;
  resize: none;
  transition: 0.2s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.contact-form button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 15px 10px;
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.contact-form button:hover {
  background-color: var(--color-primary);
}

/* ---------------------------
   SERVICES 
----------------------------*/
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.service-card {
  background: var(--color-white);
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card img {
  width: 60%;
}

.service-card h3 {
  color: var(--color-secondary);
}

.service-card p {
  font-size: 1rem;
  color: var(--color-text);
}

/* Hover effect */
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* ---------------------------
   A-PROPOS / FONDATEURS
----------------------------*/
.founder-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.founder-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.founder-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.founder-info {
  flex: 1;
  text-align: left;
}

.founder-info h3 {
  color: var(--color-primary);
  margin-bottom: 5px;
}

.founder-info .role {
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 15px;
}

.founder-info .bio {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--color-text);
}

.founder-info .quote {
  font-style: italic;
  color: var(--color-secondary);
}
